h1 {
    text-align: center;
    background-color: lightgreen;
    padding: 20px 0 20px 0;
    margin: 0 0 40px 0;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.highlight{
    background-color: brown;
    color: #fff;
    font-weight: bold;
}