@media screen and (min-width: 1001px) {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        /*Ensures consistency, avoids breaking elements*/
    }

    main {
        display: block;
        margin: 0 auto;
        max-width: 1200px;
        padding: 1rem;
    }

    body {
        background-color: var(--body-color);
    }

    /*-------------------HEADER----------------------*/

    header {
        padding: 30px;
        margin: 0;
        background-color: var(--slightly-dark);
        max-width: none;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }


    .header-logo img {
        width: 7%;
        justify-content: flex-start;
    }

    #ham-Btn {
        display: none;
    }

    header nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin: 0 20px 0 0;
        gap: 3rem;
    }

    header nav a {
        color: var(--white);
    }

    header nav a:visited {
        color: var(--light-green);
    }

    header nav a:hover {
        text-decoration: none;
        color: var(--green-color);
        transition: all ease-in-out 0.3s;
        cursor: pointer;
    }

    /*---------- GLOBAl headings-------*/
    h1 {
        color: var(--font-color-heading-h1);
        font-family: var(--font-heading);
        font-size: 4rem;
    }

    h2 {
        color: var(--font-color-heading-h2);
        font-family: var(--font-heading);
        font-size: 3rem;
    }

    h3 {
        color: var(--font-color-h3);
        font-size: 2rem;
    }

    p {
        color: var(--slightly-dark);
        font-family: var(--font-body);
        font-size: 1.3rem;
    }

    /*-------------------SECTION AND FORM----------------------*/

    section img {
        width: 100%;
        max-width: 2000px;
        object-fit: cover;
        overflow: hidden;
        border: 2px solid var(--slightly-dark);
        border-radius: 6px;
        box-shadow: 3px 3px 3px var(--slightly-dark);
        animation: 5s ease-in-out 0.5s fade-in;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }

    section:nth-of-type(4) {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section:nth-last-child(1) h2 {
        text-align: center;
    }

    section form {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        border: 3px solid var(--slightly-dark);
        background-color: var(--white);
        border-radius: 8px;
        box-shadow: 3px 3px 6px var(--slightly-dark);
        padding: 2rem;
    }



    section form label,
    section form input[type="submit"] {
        display: block;
        text-align: left;
        margin: 30px 0 0;
        font-family: var(--font-body);
        color: var(--light-blue);
    }

    form label,
    form input,
    form textarea {
        width: 100%;
        max-width: 500px;
    }

    input[type="text"], 
    input[type="email"],
    input[type="message"] {
        height: 44px;
        padding: 10px;
        border-radius: 6px;
    }

    form label span {
        color: var(--required-form);
        font-weight: 900;
    }

    textarea{
        padding: 10px;
        border-radius: 6px;
    }

    #submit-btn{
        display: block;
        width: 100%;
        max-width: 200px;
        padding: 10px;
        margin: 20px auto;
        background-color: var(--green-color);
        color: var(--white);
        text-align: center;
        border-radius: 8px;
        box-shadow: 3px 3px 6px var(--slightly-dark);
        border: 2px solid var(--slightly-dark);
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="message"]:focus,
    textarea:focus{
        outline: none;
        border: 3px solid var(--light-green);
    }


    input[type="text"]:invalid,
    input[type="email"]:invalid,
    input[type="message"]:invalid,
    textarea:invalid {
        outline: none;
        border: 3px solid var(--form-invalid);
    }
    
    #submit-btn:hover{
        background-color: var(--light-green);
        cursor: pointer;
        color: var(--slightly-dark);
        border: 3px solid var(--silver-color);
    }

    /*----------------FOOTER-----------------*/

    footer {
        margin: 20px 0 0 0;
        background-color: var(--slightly-dark);
        padding: 30px;
    }

    footer p {
        color: var(--white);
        text-align: center;
        font-size: 1rem;
    }

}