:root {
    --font-heading: 'Roboto Condensed', sans-serif;
    --font-body: 'Source Sans 3', sans-serif;
    --light-blue: rgb(6, 44, 131);
    --font-color-heading-h1: #0d47a1;
    --font-color-heading-h2: #003366;
    --font-color-h3: #060260;
    --slightly-dark: #333333;
    --light-green: rgb(0, 255, 0);
    --green-color: rgb(4, 88, 4);
    --green-color-feint: rgba(7, 57, 7, 0.845);
    --darkgreen: rgb(3, 48, 3);
    --black-col: #000;
    --silver-color: #A9A9A9;

    /*form*/
    --required-form: rgb(156, 9, 9);
    --form-invalid: red;

    /*Body*/
    --body-color: #F5F5F5;

    /*card and links */
    --white: #ffffff;
    --card-border: #e0e0e0b5;
    --card-shadow: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1000px) {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        /*Ensures consistency, avoids breaking elements*/
    }

    main {
        display: block;
        margin: 0 auto;
        max-width: 1000px;
        padding: 1rem;
    }

    body {
        background-color: var(--body-color);
    }

    /*-------------------HEADER----------------------*/

    header {
        background-color: var(--slightly-dark);
        padding: 20px;
    }

    .header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header nav {
        display: none;
    }

    header nav a {
        color: var(--white);
    }

    #ham-Btn.spin {
        transform: rotate(360deg);
    }

    #ham-Btn {
        height: 20%;
        width: 10%;
        background-color: var(--green-color);
        color: var(--white);
        box-sizing: border-box;
        border: 2px solid var(--card-shadow);
        border-radius: 4px;
        font-family: var(--font-body);
        transition: transform 1s ease-in-out;

    }

    header>.header-logo img {
        width: 10%;
        height: 5%;
    }

    header nav.active {
        /* Toggling in javascript */
        display: flex;
        flex-direction: column;
        gap: 1em;
        background-color: var(--slightly-dark);
        width: 100%;
        padding: 1rem;
        color: var(--white);
        transition: all 0.3s ease-in-out;
    }

    header nav a:visited {
        color: lightgreen;
    }

    /*-----------DIV : HERO---------------*/
    h1 {
        color: var(--font-color-heading-h1);
        font-family: var(--font-heading);
        font-size: 3rem;
    }

    h2 {
        color: var(--font-color-heading-h2);
        font-family: var(--font-heading);
        font-size: 1.8rem;
    }

    h3 {
        color: var(--font-color-h3);
        font-size: 1.35rem;
    }

    p {
        color: var(--slightly-dark);
        font-family: var(--font-body);
    }

    /*----------------------Section---------------------------*/

    section {
        padding: 20px;
        margin: 10px 0;
    }

    section img {
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        max-width: 900px;
        border-radius: 3%;
        border: 2px solid var(--slightly-dark);
        box-shadow: 3px 3px 3px var(--slightly-dark);
        animation: 5s ease-in-out 0.5s fade-in;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }

    section:nth-last-child(1) {
        background-color: var(--white);
        border: 3px solid var(--slightly-dark);
        border-radius: 8px;
    }

    section form {
        max-width: 900px;
        display: flex;
        flex-direction: column;
    }

    section form label {
        display: block;
        font-family: var(--font-body);
        color: var(--light-blue);
    }

    section form input,
    section form textarea {
        margin: 0 0 20px;
    }

    section form input {
        height: 44px;
    }

    section form input,
    textarea {
        border-radius: 8px;
    }

    section form input:nth-last-child(1) {
        max-width: 200px;
    }

    form label span {
        color: var(--required-form);
        font-weight: 900;
    }

    section form input:focus,
    section form textarea:focus {
        outline: none;
        border: 2px solid var(--light-green);
    }

    section form input:invalid,
    section form textarea:invalid {
        outline: none;
        border: 2px solid var(--form-invalid);
    }

    section form input[type="text"]:invalid:focus,
    section form input[type="email"]:invalid:focus,
    section form input[type="message"]:invalid:focus section form textarea:invalid:focus {
        outline: none;
        border: 2px solid var(--light-green);
    }

    form input[type="submit"] {
        background-color: var(--green-color);
        color: var(--white);
        border: 2px solid var(--silver-color);
        box-shadow: 2px 2px 2px var(--slightly-dark);
        border-radius: 6px;
    }

    /*------------------------Footer------------------------*/
    footer {
        background-color: var(--slightly-dark);
        padding: 30px;
    }

    footer p {
        color: var(--white);
        text-align: center;
    }
}