:root {
    --font-heading: 'Roboto Condensed', sans-serif;
    --font-body: 'Source Sans 3', sans-serif;

    --font-color-heading-h1: #0d47a1;
    --font-color-heading-h2: #003366;
    --font-color-h3: #060260;
    --slightly-dark: #333333;
    --light-green: rgb(0, 255, 0);
    --green-color: rgb(4, 88, 4);
    --green-color-feint: rgba(7, 57, 7, 0.845);
    --darkgreen: rgb(3, 48, 3);
    --black-col: #000;
    --silver-color: #A9A9A9;

    /*Body*/
    --body-color: #F5F5F5;

    /*card and links */
    --white: #ffffff;
    --card-border: #e0e0e0b5;
    --card-shadow: rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 999px){

    *, *::before, *::after{
        box-sizing: border-box; /*Ensures consistency, avoids breaking elements*/
    }
    main {
        display: block;
        margin: 0 auto;
        max-width: 999px;
        padding: 1rem;
    }

    body {
        background-color: var(--body-color);
    }

    /*-------------------HEADER----------------------*/

    header {
        background-color: var(--slightly-dark);
        padding: 20px;
    }

    .header-logo {
        display: flex;
        justify-content: space-between;     
        align-items: center;
    }

    header nav {
        display: none;
    }

    #ham-Btn{
        height: 20%;
        width: 10%;
        background-color: var(--green-color);
        color: var(--white);
        box-sizing: border-box;
        border: 2px solid var(--card-shadow);
        border-radius: 4px;

    }

    header > .header-logo img {
        width: 10%;
        height: 5%;
    }

    header nav.active { /* Toggling in javascript */
        display: flex;
        flex-direction: column;
        gap: 1em;
        background-color: var(--slightly-dark);
        width: 100%;
        padding: 1rem;
        color: var(--white);
        transition: all 0.3s ease-in-out;     
    }

    header nav a:visited{ 
        color: lightgreen;
    }

    /*-----------DIV : HERO---------------*/
    h1 {
        text-align: center;
        color: var(--font-color-heading-h1);
        font-family: var(--font-heading);
        font-size: 3rem;
    }

    h2 {
        text-align: center;
        color: var(--font-color-heading-h2);
        font-family: var(--font-heading);
        font-size: 1.8rem;
    }

    h3 {
        text-align: center;
        color: var(--font-color-h3);
        font-size: 1.35rem;
    }

    p {
        color: var(--slightly-dark);
        font-family: var(--font-body);
    }

    .hero {
        position: relative;
        display: block;
        box-sizing: border-box;
    }

    .hero>picture>img {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 6px;
    }
        
    .hero .cta {
        width: min(90%, 400px);
        display: flex;
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
        background-color: var(--card-border);
        border-radius: 4px;
        border: 3px solid var(--card-border);
        text-align: center;
        box-sizing: border-box;
        aspect-ratio: 2 / 1;
        padding: 1rem;
        flex-direction: column;
    }

    .cta p{
        font-size: 1.1rem;
        color: var(--darkgreen);
    }

    .cta .cta-btn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem;
        width: 100%;
        max-width: 400px;
        margin: 10px 0;
        gap: 1rem;
        box-sizing: border-box;
        background-color: var(--green-color);
        border-radius: 8px ;
        border: 3px solid var(--silver-color);
        font-size: 1rem;
        font-family: var(--font-body);
        color: var(--white);
        text-decoration: none;
    }

    /*------------SECTION-------------*/
    .featured-container > article {
        margin: 40px 0;
        background-color: var(--green-color-feint);
        padding: 30px 20px;
        border-radius: 8px;
        border: 3px solid var(--card-border);
        box-shadow: 3px 3px 6px var(--slightly-dark);
    }

    .featured-container > article > h3, 
    .featured-container > article > p  {
        color: var(--white);
    }

    .featured-container > article > h3 {
        text-decoration: underline;
    }

    .featured-container {
        margin: 40px 0;
        background-color: var(--white);
        padding: 20px;
        border-radius: 8px;
        border: 2px solid var(--slightly-dark);

    }

    main > .section-tip {
        background-color: var(--white);
        border-radius: 8px;
        padding: 1.3rem;
        border: 3px solid var(--card-border);
        box-shadow: 3px 3px 2px 2px var(--slightly-dark);
        margin: 30px 0;
    }

    hr {
        color: var(--slightly-dark);
    
    }

    /*------------- Footer -----------------*/

    footer {
        margin: 20px 0 0 0;
        background-color: var(--slightly-dark);
        padding: 20px;
    }

    footer p {
        color: var(--white);
        text-align: center;
    }

    /*-----------TIP OF THE DAY ----------------*/
    .section-tip #tipOfTheDay{
        color: var(--green-color);
        font-size: larger;
    }

    #tipOfTheDay::before{
        content: "⭐Tip: ";
    }

    




}