@media screen and (min-width: 1001px){
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        /*Ensures consistency, avoids breaking elements*/
    }

    main {
        display: block;
        margin: 0 auto;
        max-width: 999px;
        padding: 1rem;
    }

    body {
        background-color: var(--body-color);
    }

    /*-------------------HEADER----------------------*/

    header {
        padding: 30px;
        margin: 0;
        background-color: var(--slightly-dark);
        max-width: none;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .header-logo img {
        width: 7%;
        justify-content: flex-start;
    }

    header button {
        display: none;
    }

    header nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin: 0 20px 0 0;
        gap: 3rem;
    }

    header nav a{
        color: var(--white);
    }

    header nav a:visited{
        color: var(--light-green);
    }

    header nav a:hover{
        color: var(--green-color);
        transition: all ease-out 0.3s;
        text-decoration: none;
    }

    /*-----------DIV : HERO---------------*/
    h1 {
        color: var(--font-color-heading-h1);
        font-family: var(--font-heading);
        font-size: 4rem;
    }

    h2 {
        color: var(--font-color-heading-h2);
        font-family: var(--font-heading);
        font-size: 3rem;
    }

    h3 {
        text-align: center;
        color: var(--font-color-h3);
        font-size: 2rem;
    }

    p,
    ul {
        color: var(--slightly-dark);
        font-family: var(--font-body);
    }

    ul{
        font-size: 1.3rem;
    }

    main p:first-of-type {
        font-size: 1.3rem;
    }

    /*----------------------SECTION------------------*/
    section {
        background-color: var(--white);
        padding: 30px;
        margin: 30px 0;
        border: 3px solid var(--slightly-dark);
        border-radius: 8px;
        box-shadow: 3px 3px 6px var(--slightly-dark);
    }

    section a:hover{
        color: var(--light-blue-link);
    }

    section a:visited{
        color: var(--purple-links-desktop);
    }

    /*-----------------------FOOTER------------------*/
    footer {
        margin: 20px 0 0 0;
        background-color: var(--slightly-dark);
        padding: 30px;
    }

    footer p {
        color: var(--white);
        text-align: center;
        font-size: 1rem;
    }
}