:root {
    --font-heading: 'Roboto Condensed', sans-serif;
    --font-body: 'Source Sans 3', sans-serif;

    --font-color-heading-h1: #0d47a1;
    --font-color-heading-h2: #003366;
    --font-color-h3: #060260;
    --slightly-dark: #333333;
    --light-green: rgb(0, 255, 0);
    --green-color: rgb(4, 88, 4);
    --green-color-feint: rgba(7, 57, 7, 0.845);
    --darkgreen: rgb(3, 48, 3);
    --black-col: #000;
    --silver-color: #A9A9A9;

    /*Body*/
    --body-color: #F5F5F5;

    /*card and links */
    --white: #ffffff;
    --card-border: #e0e0e0b5;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --purple-links-desktop: purple;
    --light-blue-link: rgb(0, 255, 234);

}


@media screen and (max-width: 1000px) {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        /*Ensures consistency, avoids breaking elements*/
    }

    main {
        display: block;
        margin: 0 auto;
        max-width: 999px;
        padding: 1rem;
    }

    body {
        background-color: var(--body-color);
    }

    /*-------------------HEADER----------------------*/

    header {
        background-color: var(--slightly-dark);
        padding: 20px;
    }

    .header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header nav {
        display: none;
    }

    #ham-Btn {
        height: 20%;
        width: 10%;
        background-color: var(--green-color);
        color: var(--white);
        box-sizing: border-box;
        border: 2px solid var(--card-shadow);
        border-radius: 4px;
        font-family: var(--font-body);
        transition: transform 1s ease-in-out;

    }

    #ham-Btn.spin {
        transform: rotate(360deg);
    }

    header>.header-logo img {
        width: 10%;
        height: 5%;
    }

    header nav.active {
        /* Toggling in javascript */
        display: flex;
        flex-direction: column;
        gap: 1em;
        background-color: var(--slightly-dark);
        width: 100%;
        padding: 1rem;
        color: var(--white);
        transition: all 0.3s ease-in-out;
    }

    header nav a:visited {
        color: lightgreen;
    }

    /*-----------DIV : HERO---------------*/
    h1 {
        color: var(--font-color-heading-h1);
        font-family: var(--font-heading);
        font-size: 3rem;
    }

    h2 {
        color: var(--font-color-heading-h2);
        font-family: var(--font-heading);
        font-size: 1.8rem;
    }

    h3 {
        text-align: center;
        color: var(--font-color-h3);
        font-size: 1.35rem;
    }

    p,
    ul {
        color: var(--slightly-dark);
        font-family: var(--font-body);
    }

    p:nth-of-type(1) {
        font-size: 1.3rem;
    }

    section {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        padding: 20px;
        margin: 30px 0;
        border: 3px solid var(--slightly-dark);
        border-radius: 8px;
        box-shadow: 3px 3px 6px var(--slightly-dark);
    }

    /*-----------FOOTER-------------*/
    footer {
        background-color: var(--slightly-dark);
        padding: 30px;

    }

    footer p {
        color: var(--white);
        text-align: center;
    }
}