main > img {
    display: block;
    padding: 30px 0;
    background: #000;
    margin: 0 auto;

    /* Css Animations fade for 5seconds*/
    animation: fade 5s;
}

@keyframes fade {
    0%{
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    margin: 30px 0 0 0;
    
}

#lastModified, #currentyear{
    color: yellow;
}

h1 {
    
}