/* for desktops*/

@media screen and (min-width: 1000px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        background-color: var(--bg-color);
        width: 100%;
    }

    header>.title {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        text-align: center;
        font-family: var(--fonts-for-text);
        font-weight: 600;
    }

    h1 {
        text-align: left;
        font-family: var(--fonts-for-text);
        font-weight: 700;
    }

    button {
        display: none;
    }

    header>nav {
        display: flex;
        flex-direction: row;
        gap: 30px;
        width: 100%;
        justify-content: space-around;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main>.grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    .grid>.temple-card {
        background-color: rgb(218, 217, 217);
        border: 3px solid gray;
        border-radius: 8px;
        margin: 10px 0 20px 0;
        padding: 20px 0 30px 0;
        display: block;
        width: 380px;
    }

    header>nav>a {
        color: #000000;
        font-size: medium;
    }

    header>nav>a:hover {
        color: yellow;
        text-decoration: dashed;
    }

    .temple-card>img {
        display: block;
        max-width: 300px;
        margin: 0 auto;
        border-radius: 6px;
        object-fit: fill;
        animation: fade 5s;
        box-shadow: 3px 3px 6px 2px rgb(65, 61, 61);
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }

    .temple-card>h2,
    .temple-card>p {
        text-align: center;
        margin: auto auto 20px 10px;
    }

    .temple-card>h2 {
        font-family: var(--fonts-for-text);
    }

    .temple-card>p>strong {
        color: rgb(24, 24, 115);
    }

    .temple-card>p {
        font-family: sans-serif;
    }

    footer {
        font-size: 1rem;
        padding: 1rem;
        background-color: var(--bg-color);
        text-align: center;
        width: 100%;
        font-family: sans-serif;
    }


    #currentyear,
    #lastModified {
        color: #000000;
    }
}