/* Mobile first */

:root {
    --fonts-for-text: 'Roboto', sans-serif;
    --bg-color: rgb(76, 165, 255);

}

@media screen and (min-width: 100px) and (max-width: 999px) {
    header {
        display: block;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        background-color: var(--bg-color);
        width: 100%;
    }

    header>.title {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        text-align: center;
        font-family: var(--fonts-for-text);
        font-weight: 100;
    }

    h1 {
        text-align: left;
        font-family: var(--fonts-for-text);
        font-weight: 700;
    }

    button {
        display: block;
        background: none;
        border: none;
        font-size: 2rem;
        color: #000000;
        cursor: pointer;
        margin-bottom: 1rem;
    }

    header>nav {
        display: none;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    header>nav.open {
        display: flex;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main >.grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        align-items: center;
    }

    .grid>.temple-card {
        background-color: rgb(191, 187, 187);
        border: 3px solid gray;
        border-radius: 8px;
        margin: 10px 0 20px 0;
        padding: 30px 0 30px 0;
        width: 380px;
        justify-content: center;
    }

    header > nav > a{
        color: #000000;
    }

    header > nav a:visited {
        color: purple;
    }

    .temple-card>img {
        display: block;
        max-width: 350px;
        margin: 0 auto;
        border-radius: 6px;
        object-fit: fill;
        animation: fade 5s;
        box-shadow: 3px 3px 6px 2px rgb(65, 61, 61);
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }

    .temple-card > h2,
    .temple-card > p {
        text-align: center;
        margin: auto auto 20px 10px;
    }

    .temple-card>h2 {
        font-family: var(--fonts-for-text);
    }

    .temple-card>p>strong {
        color: rgb(24, 24, 115);
    }

    .temple-card > p {
        font-family: sans-serif;
    }

    footer {
        font-size: 0.9rem;
        padding: 1rem;
        background-color: var(--bg-color);
        text-align: center;
        display: block;
        width: 100%;
        font-family: sans-serif;
    }


    #currentyear,
    #lastModified {
        color: #000000;
    }


}