

@media screen and (min-width:1000px) {
    header {
        text-align: center;
        color: white;
        background: radial-gradient(circle, var(--h1-background-color-start), var(--h1-background-color-end));
        padding: 20px 0;
        margin: 0 0 30px;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background: radial-gradient(circle, #3339ea, #6166fe);
        margin: 0;
        padding: 0;
        align-items: stretch;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
    }

    form.form1 {
        width: 700px;
        margin: 20px auto;
        background-color: var(--form-background-color);
        padding: 1rem;
    }


    .form1 fieldset {
        margin: 2rem 0;
    }

    .form1 select {
        display: block;
        height: 44px;
        width: 100%;
        max-width: 400px;
    }

    .rating-group {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-around;
        margin: 0 0 30px;
    }

    .rating-radio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form1 input[type="date"] {
        display: block;
        height: 44px;
        width: 100%;
        max-width: 400px;
    }

    .form1 .checkbox-container {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin: 0 0 20px;
    }

    .form1 .checkbox-group {
        display: flex;
        gap: 6px;
    }

    input[type="checkbox"] {
        accent-color: var(--form-label-color);
    }

    .review-container,
    .username-container {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin: 0 0 30px;
    }

    input[type="text"] {
        height: 44px;
        width: 100%;
        max-width: 400px;

    }

    input[type="submit"] {
        width: 100%;
        height: 44px;
        background: linear-gradient(to right, var(--button-background-color-start), var(--button-background-color-end));
        color: white;
        border: 2px solid grey;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    input[type="submit"]:hover{
        background: linear-gradient(to right, var(--button-hover-background-color-start), var(--button-hover-background-color-end));
    }
    input[type="submit"]:active {
        transform: scale(0.98);
        box-shadow: 0 0 3px #000 inset;   
    } /*Added scaling button when pressed*/

    .form1 label[for="product"],
    .form1>fieldset p,
    .form1 label[for="date"],
    .form1 label[for="review"],
    .form1 label[for="username"] {
        color: var(--form-label-color);
        font-size: medium;
        font-family: sans-serif;
    }

    .form1>fieldset>.checkbox-container label,
    input[value="Submit Review"] {
        font-family: Arial, Helvetica, sans-serif;
    }

    select[name="product"]:invalid:focus,
    input[name="date"]:invalid:focus {
        box-shadow: 0 0 5px red;
        border: 3px solid red;
    }

    .required,
    label[for="product"] > span[class="asterick"] > span[class="required"] {
        color: #222;
        font-size: 0.7em;
        font-style: italic;
    }
    

    textarea {
        display: block;
        width: 100%;
        max-width: 400px;
    }

    select[name="product"]:focus,
    input[name="date"]:focus {
        outline: none;
        border: 3px solid rgb(0, 255, 0);
        box-shadow: 0 0 5px rgb(0, 255, 0);

    }

    .asterick,
    label[for="date"] > span[class="asterick"] {
        color: #b00020;
        font-weight: bold;
        font-size: 1.2em;
    }

    footer {
        background: radial-gradient(circle, var(--h1-background-color-start), var(--h1-background-color-end));
        padding: 30px 0;
        width: 100%;
        text-align: center;
        font-family: sans-serif;
        color: #fff;
        margin: 0 auto;
    }


}