/* Desktops */
@media screen and (min-width: 1000px) {

    body {
        background-color: black;
    }

    header>h1 {
        background-color: var(--header-and-footer);
        text-align: center;
        padding: 30px 0 15px 0;
        margin: 0 0 10px 0;
        color: var(--h1-col);
        font-family: var(--heading-fnt);
    }

    .hero {
        position: relative;
        width: 100%;
    }

    .hero>picture>img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .info-johannesburg {
        position: absolute;
        bottom: 5%;
        left: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: 2fr;
        margin: 0 0 100px 80px;
        gap: 12em;
    }

    .data {
        background-color: var(--bckgrnd-col);
        padding: 1em;
        border-radius: 8px;
        width: 300px;
        margin-bottom: 1.75em;
    }

    .weather {
        background-color: var(--bckgrnd-col);
        padding: 1em;
        border-radius: 8px;
        width: 250px;
        bottom: 5%;
        margin-top: 10em;
    }

    .data h2,
    .weather h2 {
        background-color: var(--h2-col);
        color: var(--h1-col);
        font-family: var(--heading-fnt);
        padding: 0.5em;
        border-radius: 8px 8px 0 0;
        margin: 0 0 30px 0;
        text-align: center;
        font-weight: 400;
        position: relative;

    }

    .weather>h2 {
        display: flex;
        flex-direction: row;
    }

    .data p,
    .weather p {
        font-family: var(--para-fnt);
        color: var(--para-col);
        margin: 0.3em 0;
        padding: 0.3em 0;
    }

    footer {

        margin: 20px 0 0 0;
        background-color: var(--header-and-footer);
        padding: 20px 0 20px 0;
        text-align: center;
        color: var(--h1-col);
        font-family: var(--para-fnt);
    }

    #currentyear,
    #lastModified {
        color: var(--footer-txt-col);
    }

    h2>.icon-small {
        display: none;
    }

    h2>.emoticon {
        display: inline;
    }
}