@media screen and (min-width: 1000px) {
    h1 {
        text-align: center;
        color: white;
        background: radial-gradient(circle, var(--h1-background-color-start), var(--h1-background-color-end));
        margin: 0 0 30px;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        min-height: 100vh;
        background: radial-gradient(circle, #3339ea, #6166fe);
    }

    div {
        width: 60%;
        max-width: 999px;
        margin: 20px auto;
        background-color: var(--form-background-color);
        padding: 1rem;
        border-radius: 8px;
    }

    div>h2 {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
        padding: 10px 0;
    }

    div>p {
        font-family: sans-serif;
    }

    footer {
        background: radial-gradient(circle, var(--h1-background-color-start), var(--h1-background-color-end));
        width: 100%;
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        color: #fff;
        margin: 270px 0 0 0;
    }

    h1,
    footer {
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}