:root {
    --fonts-for-text: 'Roboto', sans-serif;
    --bg-color: rgb(76, 165, 255);
    /*Changes in color*/
}

header {
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 30px 20px;
}

header>.title {
    color: #000;
    padding-left: 2px;
    font-family: 'Roboto';
    margin: 0;
}

header>nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
}

header>nav>a {
    color: black;
}

footer {
    background-color: var(--bg-color);
    padding-bottom: 30px;
    text-align: center;
    color: #000;
    margin-top: 40px;
    padding-top: 20px;
    font-family: sans-serif;
}

main {
    display: block;
    max-width: 800px;
    margin: 0 auto;
}

main>.grid {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

main>h1 {
    text-align: center;
    font-family: 'Roboto';
}

.grid>figure>img {
    width: 200px;
    height: 150px;
}

figure>figcaption {
    text-align: center;
    font-family: sans-serif;
}

nav a:hover {
    color: red;

}

button {
    display: none;
}