/* Mobile devices only*/
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    header> .title {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    button {
        display: block;
        background: none;
        border: none;
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
        margin-bottom: 1rem;
    }

    header>nav {
        display: none;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    header>nav.open {
        display: flex;
    }

    main>.grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .grid>figure>img {
        width: 80%;
        height: auto;
    }

    footer {
        font-size: 0.9rem;
        padding: 1rem;
    }
}

#currentyear, #lastModified {
    color: yellow;
}