:root {
    --body-font: 'Roboto', sans serif;
}

body {
    font-family: var(--body-font);
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: rgba(75, 171, 251, 0.944);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    background-color: #fff;
    padding: 1rem;
}